// var
//media query
$mobile: "480px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
$widescreen: "1440px";

$blue: #34ba97;
$black: #333;
$white: #fff;
$gray: #ccc;
$secondary: #434a54;
// defule
* {
  margin: 0;
  padding: 0;
}
header {
  min-height: 60px;
  position: fixed;
  background: $white;
  width: 100%;
  z-index: 10;
  padding: 10px;
  box-shadow: 0px 5px 5px 1px #00000048;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 20;
    .logo {
      font-family: "Playfair Display", "Poppins";
      font-size: 1.875rem;
      font-weight: 700;
      color: $blue;
    }
    display: flex;
    margin: 0;
    padding: 0;
    .navigation {
      margin: 0 !important;
      justify-content: flex-end;
      @media (max-width: $tablet) {
        display: none;
        position: absolute;
        width: 100wh;
        height: 100wh;
        left: 0;
        right: 0;
        top: 65px;
        padding: 0;
        flex-direction: column;
        text-align: center;
        background: $white;
        padding-bottom: 20px;
      }
      justify-content: space-between;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      nav {
        padding: 10px;
        width: 100%;
        ul {
          padding: 0;
          width: 100%;
          margin: 0;
          display: flex;
          padding-top: 0;
          background: $white;
          @media (max-width: $tablet) {
            flex-direction: column;
          }
          li {
            @media (max-width: $tablet) {
              flex-direction: column;
              padding: 10px 0;
            }
            list-style: none;
            margin: 0 20px;
            a {
              transition: 0.3s linear;
              font-size: 0.875rem;
              padding: 12px 0;
              text-decoration: none;
              font-weight: 600;
              color: $blue;
              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
  #nav {
    @media (max-width: $tablet) {
      display: block;
    }
    width: 30px;
    display: none;
    margin: 10px;
    color: $blue;
    cursor: pointer;
    position: absolute;
    right: 0px;
  }
}

// conatain
#contain {
  #slide {
    padding-top: 60px;
    height: 350px;
    background: $gray;
    .item {
      height: 350px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: white;
      text-align: center;
      padding: 100px 0;
      z-index: 1;
    }
    .owl-dots {
      position: relative;
      text-align: center;
      margin-top: -30px;
      z-index: 2000;
    }

    .owl-dot {
      width: 14px;
      height: 14px;
      background: $gray !important;
      margin: 0 6px;
      border-radius: 14px;
      outline: none;
      transition: 0.3s linear;
    }

    .owl-dot.active {
      width: 36px;
      background: $blue !important;
    }

    .owl-dot:hover {
      width: 36px;
      background: $blue !important;
    }
    #search {
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      z-index: 5;
      .q-search {
        width: 30%;
        margin: 0;
        display: flex;
        flex-direction: row;
        padding: 10px;
        background: $black;
        color: $white;
        i {
          margin: 0 10px;
          padding: 5px 0;
        }
        p {
          padding: 2px;
        }
      }
      form {
        border-radius: 5px;
        display: flex;
        @media (max-width: $tablet) {
          flex-direction: column;
          width: 50vw;
        }
        @media (max-width: $mobile) {
          width: 70vw;
        }
        margin: 0;
        padding: 0 15px;
        background: $black;
        input {
          border-radius: 5px;
          margin: 10px 5px;
          @media (max-width: $tablet) {
            margin: 10px 0px;
          }
          color: $white;
          padding: 7px 15px;
          outline: none;
          border: transparent;
          background: rgb(66, 66, 66);
        }
        button {
          border-radius: 5px;
          margin: 10px 0 10px 5px;
          padding: 10px 15px;
          outline: none;
          border: transparent;
          background: $blue;
          color: $white;
        }
      }
    }
  }
}
// Promotion
#promotion {
  margin-top: 80px;
  .header-pro {
    text-align: center;
    h6 {
      font-size: 27px;
    }
  }
  .pro-item {
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid $gray;
    .price {
      color: $black;
      position: absolute;
      top: 0;
      left: 15px;
      background: $gray;
      padding: 10px 15px;
    }
    .title {
      z-index: 2;
      background: $black;
      color: $white;
      bottom: 0;
      h1 {
        margin: 0 15px;
        font-size: 20px;
        padding: 15px 10px;
      }
      span {
        display: block;
        display: flex;
        flex-direction: row;
        p {
          margin: 0;
          width: 50%;
          padding: 10px 15px;
        }
      }
    }
    &:hover {
      box-shadow: 0px 5px 5px 1px #00000048;
    }
    .detail {
      cursor: pointer;
      padding: 15px;
      button {
        border: transparent;
        outline: none;
        padding: 5px 10px;
      }
    }
    .w-img {
      overflow: hidden;
      width: 100%;
      height: 150px;
      .img {
        height: 100%;
        z-index: -1;
        transition: transform 0.2s;
        overflow: hidden;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .w-button-pro {
    display: flex;
    justify-content: center;
    button {
      border: transparent;
      outline: none;
      padding: 5px 10px;
      background: $secondary;
      margin: 10px;
      color: $white;
    }
  }
}
// title
.s-title {
  display: flex;
  flex-direction: column;
  z-index: 5;
  justify-content: center;
  align-items: center;
  p {
    color: $white;
    padding: 15px 0;
    margin: 0;
  }
  span {
    width: 30px;
    height: 5px;
    background: $white;
    display: inline-block;
    border-radius: 2.5px;
    margin-bottom: 10px;
  }
  h1 {
    color: $white;
    text-shadow: 0px 5px 5px 1px #00000048;
    font-size: 20px;
  }
  button {
    border: transparent;
    outline: none;
    padding: 5px 10px;
    background: $secondary;
    margin: 10px;
    color: $white;
  }
}
#summer {
  overflow: hidden;
  .summer-image {
    margin-top: 10px;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
  }
}
// our destions
#our-destination {
  .o-title {
    h1 {
      color: $black;
      margin-top: 20px;
    }
    p {
      color: $black;
      margin: 0 !important;
    }
  }
  .item {
    margin-top: 20px;
  }
  .img-box {
    cursor: zoom-in;
    overflow: hidden;
    height: 300px;
    width: 100%;
    @media (max-width: $tablet) {
      height: 250px;
    }
    img {
      width: auto;
      height: 100%;
      background-size: cover;
    }
  }
  .location {
    background: $white;
    padding: 5px 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    text-align: center;
  }
}
// day
#day {
  margin-top: 50px;
  overflow: hidden;
  .day-image {
    width: 100%;
    height: 220px;
    @media (max-width: $tablet) {
      height: 190px;
    }
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
  }
  .wrapp-d {
    color: $white;
    .w-day {
      display: flex;
      justify-content: space-between;
      padding: 40px;
      @media (max-width: $tablet) {
        .d-item {
          text-align: center;
          p {
            font-size: 20px !important;
          }
          span {
            padding: 3px 7px;
            font-size: 9px;
          }
        }
      }
      .d-item {
        white-space: nowrap;
        text-align: center;
        p {
          font-size: 40px;
          text-shadow: 0px 5px 5px 1px #00000048;
        }
        span {
          padding: 5px 10px;
        }
      }
    }
  }
}
#packages {
  margin-top: 30px;
  .p-head {
    h1,
    p {
      color: $black;
    }
  }
  #msg {
    z-index: 5;
    .msh-h {
      display: flex;
      .msg {
        white-space: nowrap;
        width: 50%;
        margin: 0;
        display: flex;
        flex-direction: row;
        padding: 10px 5px;
        background: $black;
        color: $white;
        p {
          padding: 5px;
          margin: 0;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0 5px;
      background: $black;
      input {
        margin: 10px 5px;
        color: $white;
        padding: 7px 15px;
        outline: none;
        border: transparent;
        background: rgb(66, 66, 66);
      }
      textarea {
        height: 200px;
        margin: 10px 5px;
        color: $white;
        padding: 7px 15px;
        outline: none;
        border: transparent;
        background: rgb(66, 66, 66);
      }
      button {
        margin: 10px 0 10px 5px;
        padding: 10px 15px;
        outline: none;
        border: transparent;
        background: $blue;
        color: $white;
      }
    }
  }
  #post{
    margin-top:20px;
    .item-post{
      cursor: pointer;
      margin-bottom:20px;
      display: flex;
      justify-content: space-between;
      .img-box{
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .title{
        h2{
          font-size:20px;
        }
      }
      .price-item{
        @media (max-width: $tablet) {
          margin-top:20px !important;
        }
        cursor: pointer;
        transition: 0.3s linear;
        padding:30px 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        h2{
          color:$white
        }
        button {
          padding: 7px 15px;
          outline: none;
          border: transparent;
          background: transparent;
          border-top: 1px solid $white;
          border-bottom: 1px solid $white;
          color: $white;
        }
        &:hover{
          background:$black !important;
        }
      }
    }
  }
}
// Footer
#footer {
  margin-top:20px;
  padding: 20px 0;
  background: $black;
  color: $white;
  .item{
    margin :10px 0;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 11px;
  }
  .i-socail {
    width: 50%;
    display: flex;
    justify-content: space-between;
    i {
      transition: 0.3s linear;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        color: $blue;
      }
    }
  }
  form {
    @media (max-width: $tablet) {
     flex-direction: column;
    }
    display: flex;
    input {
      color: $white;
      padding: 7px 15px;
      outline: none;
      border: transparent;
      background: rgb(66, 66, 66);
    }
    button {
      padding: 7px 15px;
      outline: none;
      border: transparent;
      background: $blue;
      color: $white;
    }
  }
}
// backtop top
#back-to-top {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
// popup
#popup {
  display: none;
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  .delet {
    cursor: pointer;
    line-height: 15px;
    position: absolute;
    background: $blue;
    color: $white;
    padding: 15px;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    &:hover {
      background: $white;
      color: $blue;
    }
  }
  a {
    border: transparent;
    outline: none;
    cursor: pointer;
    line-height: 15px;
    position: absolute;
    background: $blue;
    color: $white;
    padding: 15px;
    border-radius: 4px;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      background: $white;
      color: $blue;
    }
  }
  .image-dailog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    overflow: hidden;
    #img-box {
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      background-size: contain;
      width: 50vw;
      height: 500px;
    }
  }
}
